*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(37, 37, 37);
  max-width: 600px;
  margin: 0 auto;
  color: rgb(231, 231, 231);
  font-family: 'Lato', Verdana, sans-serif;
}
h1 {
  text-align: center;
  margin: 10px;
}
.history p {
  margin: 20px;
}
.msg-ctn, .settings-ctn {
  display: flex;
  flex-direction: column;
}
.msg-ctn {
  margin-top: 50px;
}
form {
  background-color: #79277c;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}
label {
  text-align: center;
  padding: 10px;
}
#encryptKey , #alphabet, #message{
  padding: 10px;
  font-size: 1.2rem;
  
}
#clearMsg, #encryptMsg {
  resize: none;
  font-size: 1.2rem;
  padding: 10px;
}
.cipherBtn, .decipherBtn {
  padding: 15px 10px;
  margin: 10px 0;
  text-transform: uppercase;
}
.cipherBtn:hover, .decipherBtn:hover {
  cursor: pointer;
}
.cipherBtn {
  background-color: #efd74b;
}
.cipherBtn:hover {
  background-color: #fde661;
}
.decipherBtn {
  background-color: #80e405;
}
.decipherBtn:hover {
  background-color: #a4ef4b;
}
.errorMsg {
  margin-top: 10px;
  text-align: center;
  color: #ff6464;
}
.errorInput {
  background: #ff8484;
}
